.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
}

.header-item {
  border: 1px solid white;
}
.header-item-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: white;
}
