.tile {
  border: 1px solid salmon;
}
/* 
.tile_teal__light {
  background-color: #00a0b1;
}
.tile_teal__dark {
  background-color: #008299;
}

.tile_blue__light {
  background-color: #2e8def;
}
.tile_blue__dark {
  background-color: #2672ec;
} */
